@import url('../Stylesheets/commonStyles.css');

*{
   font-style: italic;
   font-weight:bold;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
   color:greenyellow;
}

#idSelector{
   color:red;
}